@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

  body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  

html {
  scroll-behavior: smooth;
}
.text-shadow-white-text{
  color: #00ffc8; /* Color neón */
  text-shadow: 
    0 0 5px #ffffff, 
    0 0 10px #ffffff, 
    0 0 20px #ffffff, 
    0 0 40px #02c39a, 
    0 0 80px #02c39a;
}

.text-shadow-white{
  color: #ffffff; /* Color neón */
  text-shadow: 
    0 0 5px #02c39a, 
    0 0 10px #02c39a, 
    0 0 20px #02c39a, 
    0 0 40px #02c39a, 
    0 0 80px #02c39a;
}